<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Popular</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Movies</string>
			<key>Type</key>
			<string>Potrait</string>
			<key>VideoType</key>
			<string>1</string>
			<key>URL</key>
			<string>v2/movie/populars</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Series</string>
			<key>Type</key>
			<string>Landscape</string>
			<key>VideoType</key>
			<string>6</string>
			<key>URL</key>
			<string>v2/serial/episode/populars</string>
		</dict>
	</array>
	<key>Latest</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Movies</string>
			<key>Type</key>
			<string>Potrait</string>
			<key>VideoType</key>
			<string>1</string>
			<key>URL</key>
			<string>v2/movie/latests</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Series</string>
			<key>Type</key>
			<string>Landscape</string>
			<key>VideoType</key>
			<string>6</string>
			<key>URL</key>
			<string>v2/serial/episode/latests</string>
		</dict>
	</array>
	<key>Free</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Movies</string>
			<key>Type</key>
			<string>Potrait</string>
			<key>VideoType</key>
			<string>1</string>
			<key>URL</key>
			<string>v2/movie/frees</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Series</string>
			<key>Type</key>
			<string>Landscape</string>
			<key>VideoType</key>
			<string>6</string>
			<key>URL</key>
			<string>v2/serial/episode/frees</string>
		</dict>
	</array>
	<key>Upcoming</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Movies</string>
			<key>Type</key>
			<string>Potrait</string>
			<key>VideoType</key>
			<string>1</string>
			<key>URL</key>
			<string>v2/movie/upcomings</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Series</string>
			<key>Type</key>
			<string>Landscape</string>
			<key>VideoType</key>
			<string>6</string>
			<key>URL</key>
			<string>v2/serial/episode/upcomings</string>
		</dict>
	</array>
	<key>Info</key>
	<dict>
		<key>genre</key>
		<string>Genre</string>
		<key>release</key>
		<string>Release</string>
		<key>director</key>
		<string>Director</string>
		<key>cast</key>
		<string>Cast</string>
		<key>runtime</key>
		<string>Run Time</string>
		<key>language</key>
		<string>Language</string>
		<key>subtitle</key>
		<string>Subtitle</string>
	</dict>
	<key>Latest-1</key>
	<dict>
		<key>Type</key>
		<string>Potrait-2</string>
		<key>URL</key>
		<string>v2/movie/genre/%ld</string>
	</dict>
	<key>Popular-1</key>
	<dict>
		<key>Type</key>
		<string>Potrait-2</string>
		<key>URL</key>
		<string>v2/movie/genre/%ld?sort=popular</string>
	</dict>
	<key>Premium-1</key>
	<dict>
		<key>Type</key>
		<string>Potrait-2</string>
		<key>URL</key>
		<string>v2/movie/genre/%ld?filter=paid</string>
	</dict>
	<key>Free-1</key>
	<dict>
		<key>Type</key>
		<string>Potrait-2</string>
		<key>URL</key>
		<string>v2/movie/genre/%ld?filter=free</string>
	</dict>
	<key>Upcoming-1</key>
	<dict>
		<key>Type</key>
		<string>Potrait-2</string>
		<key>URL</key>
		<string>v2/movie/genre/%ld?upcoming=true</string>
	</dict>
	<key>Latest-6</key>
	<dict>
		<key>Type</key>
		<string>Landscape-3</string>
		<key>URL</key>
		<string>v2/serial/category/%ld</string>
	</dict>
	<key>Popular-6</key>
	<dict>
		<key>Type</key>
		<string>Landscape-3</string>
		<key>URL</key>
		<string>v2/serial/category/%ld</string>
	</dict>
</dict>
</plist>
